{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "tabs": true,
  "semicolons": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "avoid",
}
